In [1]:
my_iterable = [1,2,3,4,5,5,6,7,8,9,10,1,3,35,57,43,23,44,56,78,100]

In [2]:
for num in my_iterable:
    print(num)

1
2
3
4
5
5
6
7
8
9
10
1
3
35
57
43
23
44
56
78
100

In [3]:
for num in my_iterable:
    #check for even
    if num % 2 == 0:
        print(num)

2
4
6
8
10
44
56
78
100

In [4]:
for num in my_iterable:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd')

Odd
2
Odd
4
Odd
Odd
6
Odd
8
Odd
10
Odd
Odd
Odd
Odd
Odd
Odd
44
56
78
100

In [5]:
my_dict = {'1':'The','2':'Quick','3':'Brown','4':'Fox','5':'is','6':'using','7':'steroids','8':'yo'}

In [12]:
list_sum = 0

In [13]:
for num in my_iterable:
    list_sum += num
    print(list_sum)

1
3
6
10
15
20
26
33
41
50
60
61
64
99
156
199
222
266
322
400
500

In [14]:
mystring = 'Hello World'

In [15]:
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [16]:
for _ in 'You son of a bitch':
    print('BITCH')

BITCH
BITCH
BITCH
BITCH
BITCH
BITCH
BITCH
BITCH
BITCH
BITCH
BITCH
BITCH
BITCH
BITCH
BITCH
BITCH
BITCH
BITCH

In [17]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [18]:
len(mylist)

4

In [19]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [20]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [21]:
for a,b in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [22]:
mylist = [(1,2,3),(3,4,5),(5,6,7),(7,8,9)]

In [23]:
for a,b,c in mylist:
    print(b)

2
4
6
8

In [25]:
d = {'1':'The','2':'Quick','3':'Brown','4':'Fox','5':'is','6':'using','7':'steroids','8':'yo'}

In [27]:
for item in d.items():
    print(item)

('1', 'The')
('2', 'Quick')
('3', 'Brown')
('4', 'Fox')
('5', 'is')
('6', 'using')
('7', 'steroids')
('8', 'yo')

In [30]:
for key,value in d.items():
    print(value)

The
Quick
Brown
Fox
is
using
steroids
yo