In [2]:
mylist = [1,2,3]

In [3]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [6]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [7]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [9]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter in {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter in a
At index 1 the letter in b
At index 2 the letter in c
At index 3 the letter in d
At index 4 the letter in e

In [10]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [11]:
word = 'abcde'
for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [12]:
word = 'abcde'
for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [13]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']

In [14]:
zip(mylist1,mylist2)

In [15]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')
(5, 'e')

In [16]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [18]:
for a,b in zip(mylist1,mylist2):
    print(a)

1
2
3
4
5

In [19]:
'x' in [1,2,3]

False

In [20]:
'x' in ['x','y','z']

True

In [21]:
'a' in 'a world'

True

In [22]:
'mykey' in {'mykey':234}

True

In [23]:
d = {'mykey':234}

In [24]:
234 in d.keys()

False

In [25]:
234 in d.values()

True

In [26]:
mylist = [10,20,30,40,50]

In [27]:
min(mylist)

10

In [28]:
max(mylist)

50

In [29]:
from random import shuffle

In [30]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [31]:
shuffle(mylist)

In [32]:
mylist

[4, 7, 6, 3, 1, 8, 9, 2, 10, 5]

In [33]:
shuffle(mylist)

In [34]:
mylist

[9, 3, 2, 7, 4, 6, 10, 8, 5, 1]

In [35]:
mylist.sort()

In [36]:
mylist

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [37]:
from random import randint

In [38]:
randint(0,100)

75

In [39]:
randint(0,100)

90

In [40]:
mynum = randint(0,10)

In [41]:
mynum

5

In [43]:
result = input('Enter a number here: ')

Enter a number here: 50

In [44]:
result

'50'

In [45]:
type(result)

str

In [46]:
int(result)

50

In [47]:
result = int(input('Enter a number here: '))

Enter a number here: 50

In [48]:
type(result)

int

In [49]:
result

50